<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EVEIntelAnalyzer.IntelSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EVEIntelAnalyzer.Intel" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EVEIntelAnalyzer.IntelSettings>
            <setting name="ReadKnownIntel" serializeAs="String">
                <value>[red.name] in [system.name] [red.location]</value>
            </setting>
            <setting name="ReadUnknownIntel" serializeAs="String">
                <value>Intel: [raw.intel]</value>
            </setting>
        </EVEIntelAnalyzer.IntelSettings>
        <EVEIntelAnalyzer.Intel>
            <setting name="ReadKnownIntel" serializeAs="String">
                <value>[red.name] in [system.name] [red.location]</value>
            </setting>
            <setting name="ReadUnknownIntel" serializeAs="String">
                <value>Intel: [raw.intel]</value>
            </setting>
        </EVEIntelAnalyzer.Intel>
    </userSettings>
</configuration>