<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EVEIntelAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EVEIntelAnalyzer.IntelSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EVEIntelAnalyzer.Intel" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EVEIntelAnalyzer.IntelSettings>
            <setting name="ReadKnownSystemPlayer" serializeAs="String">
                <value>[players] in [system] [location]</value>
            </setting>
            <setting name="ReadUnknownIntel" serializeAs="String">
                <value>Intel: [raw]</value>
            </setting>
            <setting name="ReadAdditionalIntelReports" serializeAs="String">
                <value>Additional, [count] intelligence reports</value>
            </setting>
            <setting name="SystemNameDash" serializeAs="String">
                <value> tac </value>
            </setting>
            <setting name="SystemNameLetterSeparator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="SystemNameNumberSeparator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="ReadKnownSystemPlayerNoVisual" serializeAs="String">
                <value>[players] in [system] no visual.</value>
            </setting>
            <setting name="ReadKnownSystem" serializeAs="String">
                <value>reds in [system]</value>
            </setting>
            <setting name="ReadKnownSystemClear" serializeAs="String">
                <value>[system] is clear.</value>
            </setting>
            <setting name="DetectSystem" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Solar System</string>
                        <string>Звездная система</string>
                        <string>Sonnensystem</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DetectIgroreWords" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>at </string>
                        <string>near </string>
                        <string>in </string>
                        <string>the </string>
                        <string>a </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DetectRegexSearch" serializeAs="String">
                <value>.*[keyword].*</value>
            </setting>
            <setting name="DetectNoVisual" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>nv</string>
                        <string>no visual</string>
                        <string>novisual</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DetectClear" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>clear</string>
                        <string>isclear</string>
                        <string>clr</string>
                        <string>crl</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ReadUseOldSpeechGeneration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadSkipIntel" serializeAs="String">
                <value>[count] older intelligence reports have been skipped</value>
            </setting>
        </EVEIntelAnalyzer.IntelSettings>
    </userSettings>
</configuration>