<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EVEIntelAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EVEIntelAnalyzer.IntelSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EVEIntelAnalyzer.Intel" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EVEIntelAnalyzer.IntelSettings>
            <setting name="ReadKnownIntel" serializeAs="String">
                <value>[intel.players.name] in [system.spell] [red.location] [intel.clear] [intel.novisual]</value>
            </setting>
            <setting name="ReadUnknownIntel" serializeAs="String">
                <value>Intel: [intel.raw]</value>
            </setting>
            <setting name="AdditionalIntelReports" serializeAs="String">
                <value>Additional, {0} intelligence reports</value>
            </setting>
            <setting name="SystemNameDash" serializeAs="String">
                <value> tac </value>
            </setting>
            <setting name="SystemNameLetterSeparator" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="SystemNameNumberSeparator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="IsClear" serializeAs="String">
                <value> is clear.</value>
            </setting>
            <setting name="NoVisual" serializeAs="String">
                <value> no visual.</value>
            </setting>
            <setting name="InSystem" serializeAs="String">
                <value>  in [system.spell]</value>
            </setting>
        </EVEIntelAnalyzer.IntelSettings>
    </userSettings>
</configuration>